html {
    font-family: 'Roboto', sans-serif;
    color: #222;
    line-height: 1.4;
    font-size: 110%;
    background-color: white;
    box-sizing: border-box;
}

body {
    margin: 0%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.img {
    width: 100%;
}

.logo {
    width: 160px;
    display: inline;
    text-align: center;
}

.wrapper {
    width: 900px;
    padding: 1.5em 0em 1.5em 0em;
    margin-right: auto;
    margin-left: auto;
}

.header {
    padding: 1.5em 0em 1.5em 0em
}

.nav {
    list-style-type: none;
    padding: 0%;
    text-align: center;
    display: inline-block;
}

.nav {
    display: block;
    padding: .5em .75em .5em .75em;
    border-radius: 8px;
}

.nav:link {
    text-decoration: none;
    color: white;
    background-color: purple;
    border: 2px, white
}

.nav:visited {
    text-decoration: none;
    color: white;
    background-color: purple;
    border: 2px, white
}

.nav:hover {
    text-decoration: none;
    color: purple;
    background-color: white;
    border: 2px, purple
}

.nav:focus {
    text-decoration: none;
    color: purple;
    background-color:white;
    border: 2px, purple
}

.hero {
    width: 100%;
    padding: 10em 0em 10em 0em;
    background-image: url("../images/greatest-90s-fashion-trends.webp");
    background-repeat: no-repeat;`
    background-size: cover;`
    background-position: top center;`
}
